@import "./variables.scss";
@import "./mixins.scss";


.papers-container {
  max-width: $page-content-width;
}

h3.track-name {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.paper-listing {
  margin-top: 0.5rem;
}

.single-paper-listing {
  font-size: 0.85rem;
  padding: 0.1rem;

  & .paper-title {
    font-style: italic;
  }
}

.track-paper-listing {
  width: 100%;
}

.papers-in-track {
}

li.single-paper-wrapper {
  list-style-type: circle;
}

.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  input {
    font-size: 1.3rem;
  }
}

.schedule-link {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.paper-length-summary {
  text-transform: lowercase;
  font-weight: bold;
}

.summary {
  margin-bottom: 1rem;
}